body{
    background-color:aquamarine;
    text-align:center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 200px;
}

.login_div1, .login_div2{
    padding: 10px;
    float: none;
    border-radius: 15px;
    margin-left: 300px;
    background-color: aliceblue;
}

